<div class="container">
    <div class="input-group">
        <span class="input-group-text">Want to say Something</span>
        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="data"></textarea>
        
        <div class="card-footer footer">      
            <button class="btn  btn-success"data-bs-toggle="modal" data-bs-target="#exampleModal"> openDialog</button>    
            <button type="button" class="btn btn-dark" (click)="back()">Login</button>
             </div>
      </div><div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{data}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

</div>